.container.w-25
	%h1.mt-2 New Flashcard

	= form_for(@flashcard) do |f|
		.mb-3
		= f.label :word, class: 'form-label'
		= f.text_field :word, class: 'form-control'

		.mb-3
			= f.label :translation, class: 'form-label'
			= f.text_field :translation, class: 'form-control'

		.mb-3.form-check
			= f.check_box :learned, class: 'form-check-input'
			= f.label :learned, "Learned?", class: 'form-label'

		= f.submit 'Create', class: 'btn btn-success'
		= link_to "Cancel", flashcards_path, class: "btn btn-danger"
